
.cliente-card {
    background-color: #f5f5f5; /* Fondo de la carta */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  mat-form-field {
    width: 100%; /* Ancho completo del campo */
  }
  
  button {
    background-color: transparent; /* Color del botón */
    color: black;
  }
  
  button:hover {
    background-color: aqua; /* Color cuando el ratón está sobre el botón */
  }
  
  .d-flex {
    margin-top: 20px;
  }