@if(isLogged){
  <mat-toolbar class="d-flex justify-content-between mat-elevation-z4">
    <button mat-icon-button  aria-label="Show Menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
   
    <div>
        <button mat-icon-button  aria-label="Opcion Ver datos de Usuario">
            <mat-icon>person</mat-icon>
          </button>
          <span class="spacer"></span>
          <button mat-icon-button  aria-label="Opcion Cerrar Sesion" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
    </div>
    
  </mat-toolbar>

  <mat-drawer-container autosize class="master-container">
    <mat-drawer #drawer  mode="side" class="master-drawer">
      <mat-selection-list>
        @for (item of menu; track item) {
          <mat-list-item (click)="redirectTo(item.path)">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            <div matListItemTitle>{{item.name}}</div>
          </mat-list-item>
        }        
      </mat-selection-list>      
    </mat-drawer>
  
    <div class="container">        
        <router-outlet />      
    </div>
  
  </mat-drawer-container>
}

@else{
  <div class="container">        
    <router-outlet />  
</div>

}
