<h4>{{title}}</h4>

<form [formGroup]="productosForm" (ngSubmit)="onProductosEditSubmit()">

  <div class="row">
    <mat-form-field class="col-12 col-sm-6 p-2" appearance="outline">
      <mat-label>Producto</mat-label>
      <input matInput placeholder="Ingrese el nombre del producto..." formControlName="nombreProducto" required />
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-6 p-2" appearance="outline">
      <mat-label>Descripcion</mat-label>
      <input matInput placeholder="Ingrese la descripcion..."  formControlName="descripcion" required/>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-6 p-2" appearance="outline">
      <mat-label>Precio</mat-label>
      <input matInput placeholder="Ingrese el precio..." formControlName="precio" required />
    </mat-form-field>
    
    <mat-form-field class="col-12 col-sm-6 p-2" appearance="outline">
      <mat-label>Stock</mat-label>
      <input matInput placeholder="Ingrese el stock..."  formControlName="stock" required/>
    </mat-form-field>

  </div>
  <div class="d-flex justify-content-end">
    <button class="m-2" mat-button [routerLink]="['/productos']">Cancelar</button>
    <button type="submit" class="mt-2 mb-2" mat-flat-button>Modificar Datos</button>
  </div>
</form>